.App {
    position: relative;
    background-attachment: fixed;
    background-position: 50%;
    background-repeat: no-repeat;
    height: 100vh;
    background-image: linear-gradient(rgba(4, 30, 5, 0.7), rgba(4, 30, 12, 0.7)), url('/public/images/farm.jpg');
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: linear-gradient(to bottom left, rgb(19, 224, 146, 0.9), rgb(32, 231, 231, 0.9), rgb(39, 148, 190, 1));
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 550px;
    width: 550px;
    border-radius: 10px;
    padding: 5px;
  }
  
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    height: 300px;
    width: 500px;
  }
  
  #uname,
  #pword {
    width: 300px;
    height: 40px;
  }
  
  #login-btn {
    background-color: green;
    color: #fff;
    font-size: 15px;
    padding: 8px 5px;
    margin-top: 15px;
    width: 250px;
    height: 40px;
  }
  
  #login-btn:hover {
    background-color: rgb(10, 128, 73);
    font-weight: bolder;
  }