.App {
  position: relative;
  background-attachment: fixed;
  background-image: linear-gradient(rgba(4, 30, 5, 0.7), rgba(4, 30, 12, 0.7) 90%, #20571b), url('/public/images/farm.jpg');
  background-size: cover;
  background-position: 50%;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  color: #fff;
  display: flex;
}

.header {
  display: fixed;
  position: absolute;
  text-align: center;
  top: 0;
  margin-top: 60px;
}

.login-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  gap: 2rem;
  top: 0;
  left: 0;
  width: 50vw;
  height: 100vh;
  background-color: rgba(255, 255, 255, 0.9);
  clip-path: polygon(0 0, 80% 0, 100% 100%, 0 100%, 0 80%);
}

#uname,
#pword {
  width: 300px;
  height: 40px;
}

/* 
#uname,
#pword,
#login-btn {
} */

#login-btn {
  background-color: green;
  color: #fff;
  font-size: 15px;
  padding: 8px 5px;
  margin-top: 15px;
  width: 250px;
  height: 40px;
}

#login-btn:hover {
  background-color: rgb(10, 128, 73);
  font-weight: bolder;
}